openfile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="openFileDefinition" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://oss.dbc.dk/ns/openfile_wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="http://oss.dbc.dk/ns/openfile" xmlns:tns="http://oss.dbc.dk/ns/openfile_wsdl">

        <wsdl:types>
                <xs:schema elementFormDefault="qualified">
                        <xs:import namespace="http://oss.dbc.dk/ns/openfile" schemaLocation="openfile.xsd"/>
                </xs:schema>
        </wsdl:types>
        <wsdl:message name="checkFileRequest">
                <wsdl:part name="input" element="types:checkFileRequest"/>
        </wsdl:message>
        <wsdl:message name="checkFileResponse">
                <wsdl:part name="output" element="types:checkFileResponse"/>
        </wsdl:message>

	 <wsdl:message name="getFileRequest">
                <wsdl:part name="input" element="types:getFileRequest"/>
        </wsdl:message>
        <wsdl:message name="getFileResponse">
                <wsdl:part name="output" element="types:getFileResponse"/>
        </wsdl:message>	

	 <wsdl:portType name="getFilePortType">
                <wsdl:operation name="getFile">
                        <wsdl:input message="tns:getFileRequest"/>
                        <wsdl:output message="tns:getFileResponse"/>
                </wsdl:operation>
        </wsdl:portType>

 <wsdl:portType name="checkFilePortType">
                <wsdl:operation name="checkFile">
                        <wsdl:input message="tns:checkFileRequest"/>
                        <wsdl:output message="tns:checkFileResponse"/>
                </wsdl:operation>
        </wsdl:portType>       

        <wsdl:binding name="getFileBinding" type="tns:getFilePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <wsdl:operation name="getFile">
                        <soap:operation soapAction="getFile"/>
                        <wsdl:input>
                                <soap:body use="literal"/>
                        </wsdl:input>
                        <wsdl:output>
                                <soap:body use="literal"/>
                        </wsdl:output>
                </wsdl:operation>
        </wsdl:binding> 

	 <wsdl:binding name="checkFileBinding" type="tns:checkFilePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <wsdl:operation name="checkFile">
                        <soap:operation soapAction="checkFile"/>
                        <wsdl:input>
                                <soap:body use="literal"/>
                        </wsdl:input>
                        <wsdl:output>
                                <soap:body use="literal"/>
                        </wsdl:output>
                </wsdl:operation>
        </wsdl:binding>


        <wsdl:service name="fileService">
                <wsdl:port name="checkFilePortType" binding="tns:checkFileBinding">
                        <soap:address location="http://vision.dbc.dk/~pjo/OpenLibrary/OpenFile/trunk/server.php"/>
                </wsdl:port>
		 <wsdl:port name="getFilePortType" binding="tns:getFileBinding">
                        <soap:address location="http://vision.dbc.dk/~pjo/OpenLibrary/OpenFile/trunk/server.php"/>
                </wsdl:port>
        </wsdl:service>
</wsdl:definitions>
